@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #FFFFFF;
}

.header__wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header__inner {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-height: 19px;
    
}

.header__right {
    display: flex;
    align-items: center;
    gap: 31px;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 32px;
}

.header__list-item {
    
}

.header__list-item-link {
    color: #1B1A1A;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.header__button {
    border: none;
    background-color: #1B1A1A;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 14px;
    border: 1px solid #1b1a1a00;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.header__button:hover {
    background-color: #fff;
    color: #1B1A1A;
    border-color: #1B1A1A;
}

.main {

}

.projects {
    background-color: #ECE7E4;
}

.projects__inner {
    display: flex;
}

.main__projects-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 0px 72px

}

.main__projects-left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

}

.main__projects-left-content-logo {
    text-transform: uppercase;
    color: #645C55;
    font-size: 14px;
}

.main__projects-left-content-title {
    font-size: 64px;
    color: #1B1A1A;
    font-weight: 400;
    line-height: 1;
}

.main__projects-left-content-text {
    font-size: 16px;
    color: #403E3B;
    
}

.main__projects-photo img{
    display: block;
}

.main__projects-left-link {
    font-size: 16px;
    text-decoration: none;
    color: #403E3B;
    padding: 11px 20px;
    align-self: flex-start;
    border: 1px solid transparent;
}

.main__projects-left-link:hover {

    border-color: #403E3B;
}




.about {
    background-color: #fff;
    display: flex;
    padding: 100px 10px;
    margin-bottom: 100px;
}

.about__wrapper {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 133px;
}


.about__title {
    color: #403E3B;
    font-size: 32px;
    font-weight: 400;
}
.about__content {
    max-width: 500px;
}
.about__content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.about__content-text-text {
    color: #403E3B;
    font-size: 16px;

}
.about__content-person {
    display: flex;
    gap: 30px;
    align-items: center;
   
}
.about__content-person-photo {

}
.about__content-person-info {
}
.about__content-person-info-name {
    color: #1B1A1A;
    font-size: 17px;
}
.about__content-person-info-job {
    color: #645C55;
    font-size: 14px;
}

.news-content {
    background: url("./images/news-building.jpg") no-repeat center center / cover;
    padding-right: 75px;
}

.news-content__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

.news-content__info {
    max-width: 285px;
}

.news-content__info-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #403E3B;
    font-weight: 400;
}

.news-content__info-text {
    font-size: 16px;
    color: #645C55;
}




.news-content__photo {

}

.process {
    background-color: #FFFFFF;
    margin-top: 100px;
}

.process__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.process__title {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 47px;


}

.process__title-text {
    font-size: 14px;
    color: #645C55;
    text-transform: uppercase;
    font-weight: 400;

}

.process__title-mainText {
    font-size: 39px;
    color: #1B1A1A;
    font-weight: 400;
}

.process__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 56px;
    padding: 0px 136px;

}

.process__content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    

}

.process__content-one-photo {
    

}

.process__content-one-title {
    font-size: 18px;
    color: #403E3B;
    font-weight: 400;
    

}

.process__content-one-text {
    font-size: 15px;
    color: #645C55;
}


.process__content-two-photo {

}

.process__content-two-title {
    font-size: 17px;
    color: #403E3B;
    font-weight: 400;

}

.process__content-two-text {
    font-size: 16px;
    color: #645C55;
    
}


.process__content-three-photo {

}

.process__content-three-title {
    font-size: 17px;
    color: #403E3B;
    font-weight: 400;

}

.process__content-three-text {
    font-size: 16px;
    color: #645C55;
    
}

.marble-staircase {
    background: url("./images/news-staircase-ladder.jpg") no-repeat center center / cover;
    padding-right: 75px;
}


.marble-staircase__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

.marble-staircase__info {
    max-width: 285px;

}

.marble-staircase__info-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #403E3B;
    font-weight: 400;

}

.marble-staircase__info-text {
    font-size: 16px;
    color: #645C55;

    
}


.clients {
    background-color: #403E3B;
}

.clients__inner {
    display: flex;
    align-items: center;
    padding: 60px 136px;
    gap: 132px;

}

.clients__info {
    max-width: 460px;
}

.clients__info-subtitle {
    font-size: 14px;
    color: #ECE7E4;
    text-transform: uppercase;
}

.clients__info-title {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 400;
}

.clients__info-text {
    font-size: 15px;
    color: #ECE7E4;
}

.clients__logo {
    display: flex;
    flex-direction: column;
    gap: 96px;
    max-width: 432px;
}


.clients__logo-client-one {
    display: flex;
    gap: 96px;
}

.clients__logo-client-two {

}

.clients__logo-client-three {
    display: flex;
    gap: 96px;
}

.clients__logo-client-four {

}


.swirling-staircase {
    background: url("./images/news-swirling-staircase.jpg") no-repeat center center / cover;
    padding-left: 75px;
}

.swirling-staircase__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
}

.swirling-staircase__info {
    max-width: 285px;
}

.swirling-staircase__info-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #403E3B;
    font-weight: 400;

}

.swirling-staircase__info-text {
    font-size: 16px;
    color: #645C55;

}
